<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 id="id" data-password="12345">Hello Alex!!!</h1>
<input type="radio" name="f1" value="4">0
<input type="radio" name="f1" value="40">1
<input type="radio" name="f1" value="40">1
<p class="first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque hic officia quia quo sapiente similique sint soluta tempora velit. Consequatur cupiditate necessitatibus nostrum officiis quibusdam. Accusamus laudantium odio tenetur?</p>
<button>click</button>
<button id="2">click</button>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{/t.js}" src="../static/t.js"></script>
</body>
</html>